<div class="container">
    <div class="nav">
        <div class="navtitle">
            <h2>Links</h2>
        </div>
            <li><%= link_to 'Home', controller: 'welcome' %></li>
            <li><%= link_to 'Teams', controller: 'teams' %></li>
            <li><%= link_to 'Players', controller: 'players' %></li>
            <li><%= link_to 'Create a Mock Draft', new_mockdraft_path %></li>
            <li><%= link_to 'User Mock Drafts', controller: 'mockdrafts' %></li>
    </div>
    
    <div class="main">
        <div class ="title">
            <h1>Editing Team</h1>
        </div>
        
        <%= form_for :team, url: team_path(@team), method: :patch do |f| %>
            <% if @team.errors.any? %>
            <div class="error">
            <div id="error_explanation">
                <h2>
                    <%= pluralize(@team.errors.count, "error") %> prohibited
                    this team from being saved:
                </h2>
                <ul>
                    <% @team.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
            </div>
            <% end %>
            <br><br>
    
            
            <div class="form">
            <p>
                <%= f.label :name %>
                <%= f.text_field :name %>
            </p>
            <p>
                <%= f.label :needs %>
                <%= f.text_field :needs %>
            </p>
            <p>
                <%= f.label :round1 %>
                <%= f.text_field :round1 %>
            </p>
            <p>
                <%= f.label :round2 %>
                <%= f.text_field :round2 %>
            </p>
            <p>
                <%= f.label :round3 %>
                <%= f.text_field :round3 %>
            </p>
            <p>
                <%= f.label :round4 %>
                <%= f.text_field :round4 %>
            </p>
            <p>
                <%= f.label :round5 %>
                <%= f.text_field :round5 %>
            </p>
            <p>
                <%= f.label :round6 %>
                <%= f.text_field :round6 %>
            </p>
            <p>
                <%= f.label :round7 %>
                <%= f.text_field :round7 %>
            </p>
            <p>
                <%= f.label :picture_link %>
                <%= f.text_field :picture_link %>
            </p>
            
            <p>
                <%= f.submit %>
                <button>
                    <div class="buttontext">
                        <%= link_to "Cancel", controller: 'teams' %>
                    </div>
                </button>
            </p>
            </div>
        <% end %>
    </div>
</div>