<div class="container">
    
<body>
<div class="nav">
    <h2>Links: </h2>
    <ul>
        <li><%= link_to 'Home', controller: 'welcome' %></li>
        <li><%= link_to 'Teams', controller: 'teams' %></li>
        <li><%= link_to 'Players', controller: 'players' %></li>
        <li><%= link_to 'Create a Mock Draft', new_mockdraft_path %></li>
        <li><%= link_to 'User Mock Drafts', controller: 'mockdrafts' %></li>
    </ul>
</div>
<div class ="main">

<h1>Teams</h1>
<table>
    <% @teams.each do |team| %>
        <tr>
            <td><img
                    src=<%= team.picture_link %>
                >
            </td>
            <td><%= link_to team.name, team_path(team) %></td>
        </tr>
    <% end %>
</table>