<div class="container">
    <div class="nav">
        <div class="navtitle">
            <h2>Links</h2>
        </div>
            <li><%= link_to 'Home', controller: 'welcome' %></li>
            <li><%= link_to 'Teams', controller: 'teams' %></li>
            <li><%= link_to 'Players', controller: 'players' %></li>
            <li><%= link_to 'Create a Mock Draft', new_mockdraft_path %></li>
            <li><%= link_to 'User Mock Drafts', controller: 'mockdrafts' %></li>
    </div>
        
    <div class="main">
        <h1>New Player</h1>
        <%= form_for :player, url: players_path do |f| %>
        <% if @player.errors.any? %>
            <div id="error_explanation">
                <h2>
                    <%= pluralize(@player.errors.count, "error") %> prohibited
                    this player from being saved:
                </h2>
                <ul>
                    <% @player.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
            <p>
                <%= f.label :name %>
                <%= f.text_field :name %>
            </p>
            <p>
                <%= f.label :college %>
                <%= f.text_field :college %>
            </p>
            <p>
                <%= f.label :position %>
                <%= f.text_field :position %>
            </p>
            <p>
                <%= f.label :grade %>
                <%= f.text_field :grade %>
            </p>
            <p>
                <%= f.label :height %>
                <%= f.text_field :height %>
            </p>
            <p>
                <%= f.label :weight %>
                <%= f.text_field :weight %>
            </p>
            <p>
                <%= f.label :picture_link %>
                <%= f.text_field :picture_link %>
            </p>
            <p>
                <%= f.label :highlights_link %>
                <%= f.text_field :highlights_link %>
            </p>
            <p>
                <%= f.submit %>
            </p>
        <% end %>
    </div>
</div>