<h1>
    <%= @player.name %>
</h1>

<img 
    src=<%= @player.picture_link %>
>

<h3>
    College:
    <%= @player.college %>
</h3>

<h3>
    Position:
    <%= @player.position %>
</h3>

<h3>
    Grade:
    <%= @player.grade%>
</h3>

<h3>
    Height:
    <%= @player.height %>
</h3>

<h3>
    Weight:
    <%= @player.weight %>
</h3>

<h3>
    <%= link_to "Back to Players", controller: 'players' %>
</h3>