<style>
    h1,h2,h3{
        color: white;
    }
</style>
<h1>
    <%= @player.name %>
</h1><br><br>

<img 
    src=<%= @player.picture_link %>
    style="border: 3px solid #000000;"
/>

<h3>
    College:
    <%= @player.college %>
</h3>

<h3>
    Position:
    <%= @player.position %>
</h3>

<h3>
    Grade:
    <%= @player.grade%>
</h3>

<h3>
    Height:
    <%= @player.height %>
</h3>

<h3>
    Weight:
    <%= @player.weight %>
</h3>

<h3>Highlights:</h3>

    <iframe width="560" height="315"
    style="border: 3px solid #FF0000;"
    src=<%= @player.highlights_link %> frameborder="0" allowfullscreen>
    </iframe><br><br>
    
<div class="comments">
<% if @player.player_comments.exists? %>    
    <h2>Comments</h2>
    <% @player.player_comments.each do |comment| %>
        <div class="individual_comment">
        <p>
            <strong>Commenter:</strong>
            <%= comment.commenter %>
        </p>
    
        <p>
            <strong>Comment:</strong>
            <%= comment.body %>
        </p>
        </div>
    <% end %>
<% end %>
</div>

<h2>Add a comment:</h2>
<%= form_for([@player, @player.player_comments.build]) do |f| %>
    <p>
        <%= f.label :commenter %><br>
        <%= f.text_field :commenter %>
    </p>
    <p>
        <%= f.label :body %><br>
        <%= f.text_area :body %>
    </p>
    <p>
        <%= f.submit "Submit" %>
    </p>

<% end %>
<h3>
    <button><div class="buttontext"><%= link_to "Back to Players", controller: 'players' %></div></button>
</h3>