<p>
    <%= @player.name %>
</p>

<p>
    <%= @player.college %>
</p>

<p>
    <%= @player.position %>
</p>

<p>
    <%= @player.grade%>
</p>

<p>
    <%= @player.height %>
</p>

<p>
    <%= @player.weight %>
</p>

<p>
    <%= @player.picture_link %>
</p>