<div class="container">
    
<body>
<div class="nav">
    <h2>Links: </h2>
    <ul>
        <li><%= link_to 'Home', controller: 'welcome' %></li>
        <li><%= link_to 'Teams', controller: 'teams' %></li>
        <li><%= link_to 'Players', controller: 'players' %></li>
        <li><%= link_to 'Create a Mock Draft', new_mockdraft_path %></li>
        <li><%= link_to 'User Mock Drafts', controller: 'mockdrafts' %></li>
    </ul>
</div>
<div class ="main">

<h1>User Mock Drafts</h1>
<table>
    <tr>
        <th>Creator</th>
        <th>Mock Draft</th>
    </tr>
    
    <% @mockdrafts.each do |mockdraft| %>
        <tr>
            <td><%= mockdraft.creator %></td>
            <td><%= link_to "View", mockdraft_path(mockdraft) %></td>
        </tr>
    <% end %>
</table>
