<div class="container">
    <div class="nav">
        <div class="navtitle">
            <h2>Links</h2>
        </div>
            <li><%= link_to 'Home', controller: 'welcome' %></li>
            <li><%= link_to 'Teams', controller: 'teams' %></li>
            <li><%= link_to 'Players', controller: 'players' %></li>
            <li><%= link_to 'Create a Mock Draft', new_mockdraft_path %></li>
            <li><%= link_to 'User Mock Drafts', controller: 'mockdrafts' %></li>
    </div>
        
    <div class="main">
        <div class="title"><h1>New Mock Draft</h1></div>
        <%= form_for :mockdraft, url: mockdrafts_path do |f| %>
        <% if @mockdraft.errors.any? %>
            <div class="error">
            <div id="error_explanation">
            <h2>
                <%= pluralize(@mockdraft.errors.count, "error") %> prohibited
                this mock draft from being saved:
            </h2>
            <ul>
                <% @mockdraft.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
            </div>
            </div>
        <% end %>
        <p>
            <div class="title"><%= f.label :creator, "Creator's Name:" %>
            <%= f.text_field :creator %></div>
        </p>
        
        <table>   
            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick1, "Pick 1 (Cleveland Browns):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick1, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>

            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick2, "Pick 2 (San Francisco 49ers):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick2, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>
        
            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick3, "Pick 3 (Chicago Bears):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick3, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>
        
            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick4, "Pick 4 (Jacksonville Jaguars):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick4, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick5, "Pick 5 (Tennesee Titans):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick5, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick6, "Pick 6 (New York Jets):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick6, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick7, "Pick 7 (Los Angeles Chargers):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick7, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick8, "Pick 8 (Carolina Panthers):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick8, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick9, "Pick 9 (Cincinnati Bengals):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick9, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick10, "Pick 10 (Buffalo Bills):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick10, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick11, "Pick 11 (New Orleans Saints):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick11, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick12, "Pick 12 (Cleveland Browns):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick12, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick13, "Pick 13 (Arizona Cardinals):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick13, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick14, "Pick 14 (Philadelphia Eagles):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick14, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick15, "Pick 15 (Indianapolis Colts):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick15, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick16, "Pick 16 (Baltimore Ravens):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick16, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick17, "Pick 17 (Washington Redskins):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick17, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick18, "Pick 18 (Tennesee Titans):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick18, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick19, "Pick 19 (Tampa Bay Buccaneers):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick19, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick20, "Pick 20 (Denver Broncos):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick20, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick21, "Pick 21 (Detroit Lions):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick21, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick22, "Pick 22 (Miami Dolphins):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick22, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>
            
            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick23, "Pick 23 (New York Giants):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick23, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick24, "Pick 24 (Oakland Raiders):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick24, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick25, "Pick 25 (Houston Texans):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick25, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick26, "Pick 26 (Seattle Seahawks):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick26, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick27, "Pick 27 (Kansas City Chiefs):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick27, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick28, "Pick 28 (Dallas Cowboys):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick28, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick29, "Pick 29 (Green Bay Packers):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick29, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick30, "Pick 30 (Pittsburgh Steelers):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick30, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>
        
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick31, "Pick 31 (Atlanta Falcons):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick31, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong><%= f.label :pick32, "Pick 32 (New Orleans Saints):" %></strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick32, @players, :id, :name, :include_blank => false) %>
                </td>
            </tr>
        </table>
        
        <p>
            <%= f.submit %>
            <button>
                <div class="buttontext">
                    <%= link_to "Cancel", controller: "welcome" %>
                </div>
            </button>
        </p>
        
        <% end %>
    </div>
</div>