<div class="container">
    <div class="nav">
        <div class="navtitle">
            <h2>Links</h2>
        </div>
            <li><%= link_to 'Home', controller: 'welcome' %></li>
            <li><%= link_to 'Teams', controller: 'teams' %></li>
            <li><%= link_to 'Players', controller: 'players' %></li>
            <li><%= link_to 'Create a Mock Draft', new_mockdraft_path %></li>
            <li><%= link_to 'User Mock Drafts', controller: 'mockdrafts' %></li>
    </div>
        
    <div class="main">
        <h1>New Mock Draft</h1>
        <%= form_for :mockdraft, url: mockdrafts_path do |f| %>

        <p>
            <strong>Creator's Name:</strong>
            <%= f.text_field :creator %>
        </p>
        
        <table>   
            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 1 (Cleveland Browns): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick1, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>

            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 2 (San Francisco 49ers): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick2, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>
        
            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 3 (Chicago Bears): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick3, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>
        
            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 4 (Jacksonville Jaguars): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick4, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 5 (Tennesee Titans): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick5, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 6 (New York Jets): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick6, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 7 (Los Angeles Chargers): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick7, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 8 (Carolina Panthers): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick8, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 9 (Cincinnati Bengals): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick9, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 10 (Buffalo Bills): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick10, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 11 (New Orleans Saints): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick11, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 12 (Cleveland Browns): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick12, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 13 (Arizona Cardinals): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick13, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 14 (Philadelphia Eagles): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick14, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 15 (Indianapolis Colts): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick15, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 16 (Baltimore Ravens): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick16, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 17 (Washington Redskins): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick17, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 18 (Tennesee Titans): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick18, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 19 (Tampa Bay Buccaneers): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick19, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 20 (Denver Broncos): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick20, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 21 (Detroit Lions): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick21, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 22 (Miami Dolphins): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick22, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>
            
            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 23 (New York Giants): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick23, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 24 (Oakland Raiders): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick24, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 25 (Houston Texans): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick25, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 26 (Seattle Seahawks): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick26, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 27 (Kansas City Chiefs): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick27, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 28 (Dallas Cowboys): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick28, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 29 (Green Bay Packers): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick29, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 30 (Pittsburgh Steelers): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick30, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>
        
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 31 (Atlanta Falcons): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick31, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>
                
            <tr>
            <div class="pick_td">
                <td>
                    <strong>Pick 32 (New Orleans Saints): </strong>
                </td>
            </div>
                <td>
                    <%= f.collection_select(:pick32, @players, :id, :name, :include_blank => true) %>
                </td>
            </tr>
        </table>
        
        <p>
            <%= f.submit %>
            <button>
                <div class="buttontext">
                    <%= link_to "Cancel", controller: "welcome" %>
                </div>
            </button>
        </p>
        
        <% end %>
    </div>
</div>