<h1>New Mock Draft</h1>
    <%= form_for :mockdraft, url: mockdrafts_path do |f| %>
    <p>
        <strong>Creator's Name:</strong>
        <%= f.text_field :creator %>
    </p>
        <strong>Pick 1 (Cleveland Browns): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
        
    </p>
        <strong>Pick 2 (San Francisco 49ers): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
        
    </p>
        <strong>Pick 3 (Chicago Bears): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
        
    </p>
        <strong>Pick 4 (Jacksonville Jaguars): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
        
    </p>
        <strong>Pick 5 (Tennessee Titans): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
        
    </p>
        <strong>Pick 6 (New York Jets): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
        
    </p>
        <strong>Pick 7 (Los Angeles Chargers): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
        
    </p>
        <strong>Pick 8 (Carolina Panthers): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
        
    </p>
        <strong>Pick 9 (Cincinnati Bengals): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
        
    </p>
        <strong>Pick 10 (Buffalo Bills): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
        
    </p>
        <strong>Pick 11 (New Orleans Saints): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
        
    </p>
        <strong>Pick 12 (Cleveland Browns): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
        
    </p>
        <strong>Pick 13 (Arizona Cardinals): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
        
    </p>
        <strong>Pick 14 (Philadelphia Eagles): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
        
    </p>
        <strong>Pick 15 (Indianapolis Colts): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
        
    </p>
        <strong>Pick 16 (Baltimore Ravens): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
        
    </p>
        <strong>Pick 17 (Washington Redskins): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
        
    </p>
        <strong>Pick 18 (Tennessee Titans): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
        
    </p>
        <strong>Pick 19 (Tampa Bay Buccaneers): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
        
    </p>
        <strong>Pick 20 (Denver Broncos): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
        
    </p>
        <strong>Pick 21 (Detroit Lions): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
        
    </p>
        <strong>Pick 22 (Miami Dolphins): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
    
    </p>
        <strong>Pick 23 (New York Giants): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
        
    </p>
        <strong>Pick 24 (Oakland Raiders): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
        
    </p>
        <strong>Pick 25 (Houston Texans): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
        
    </p>
        <strong>Pick 26 (Seattle Seahawks): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
        
    </p>
        <strong>Pick 27 (Kansas City Chiefs): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
        
    </p>
        <strong>Pick 28 (Dallas Cowboys): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
        
    </p>
        <strong>Pick 29 (Green Bay Packers): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
        
    </p>
        <strong>Pick 30 (Pittsburgh Steelers): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
        
    </p>
        <strong>Pick 31 (Atlanta Falcons): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
        
    </p>
        <strong>Pick 32 (New Orleans Saints): </strong>
        <% options = options_from_collection_for_select(@players, 'id', 'name') %>
        <%= f.select :all_val,  options, :include_blank => true %>
    <p>
        
    <p>
        <%= f.submit %>
    </p>
        
    <% end %>